[submodule "lib/pyfplug"]
	path = lib/pyfplug
	url = https://github.com/hasegaw/pyfplug.git
[submodule "docs/themes/purehugo"]
	path = docs/themes/purehugo
	url = https://github.com/dplesca/purehugo.git
