[submodule "lib/pyfplug"]
	path = lib/pyfplug
	url = https://github.com/hasegaw/pyfplug.git
[submodule "docs/themes/hugo-alabaster-theme"]
	path = docs/themes/hugo-alabaster-theme
	url = https://github.com/jkawamoto/hugo-alabaster-theme.git
